<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <title>Spring MVC5 + Thymeleaf 表单示例</title>
</head>
<body>

    <h2>Spring MVC5 + Thymeleaf 表单示例</h2>
    <form th:action="@{/saveProduct}" th:object="${product}" method="post">
        <label for="firstName">产品名称:</label>
        <input type="text" th:field="*{name}" value="哎哎哎" /><br/>

        <label for="firstName">有效日期:</label>
        <input type="text" th:field="*{availableFrom}" value="2018-03-28" /> <br/>

        <label for="price">价格 (RMB):</label>
        <input type="text" th:field="*{price}" size="10" value="198" /><br/>

        <input type="submit" value="提交"/>
    </form>

</body>
</html>